body {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}


/* ANIMATION 1 -> Collapse */

.popover {
    width: 445px;
    height: 240px;
    margin-right: 10px;
}

.btn {
    width: 170px;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

.popover_block {
    border: 1px solid black;
    padding: 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 397px;
    margin: 0 10px;
}

.hidden {
    display: none;
}


/* ANIMATION 2 -> Callback Chat */

.callback {
    width: 330px;
    height: 365px;
}

.chat_form {
    border: 1px solid;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 35px;
    left: 505px;
    background-color: white;
    padding: 12px;
    transition: transform 0.2s ease-out;
}

.chat_div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.input_chat {
    width: 220px;
    margin: 10px;
    height: 170px;
}

.send_btn {
    width: 200px;
    margin: 0px 25px;
    height: 30px;
}

.btn_chat {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 315px;
    left: 730px;
    transition: transform 0.3s ease;
}

.btn_chat_hide {
    transform: scale(0);
    cursor: auto;
}

.chat_form_hide {
    transform: scale(0) translate(300px, 300px);
}


/* ANIMATION 3 -> Liker */

.like {
    width: 350px;
    height: 225px;
    margin-left: 10px;
}

.btn_like {
    width: 100px;
    height: 30px;
    margin-top: 180px;
}

.img_block {
    position: absolute;
    bottom: 40px;
    left: 133px;
    height: 200px;
    width: 100px;
}

.like_img {
    position: absolute;
    animation-name: heart_1;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes heart_1 {
    0% {
        opacity: 1;
        bottom: 0;
        left: 25px;
    }
    25% {
        left: 5px;
    }
    50% {
        left: 25px;
    }
    75% {
        left: 45px;
    }
    100% {
        opacity: 0;
        bottom: 200px;
        left: 25px;
    }
}

@keyframes heart_2 {
    0% {
        opacity: 1;
        bottom: 0;
        left: 25px;
    }
    25% {
        left: 25px;
    }
    50% {
        left: 45px;
    }
    75% {
        left: 5px;
    }
    100% {
        opacity: 0;
        bottom: 200px;
        left: 25px;
    }
}

@keyframes heart_3 {
    0% {
        opacity: 1;
        bottom: 0;
        left: 25px;
    }
    25% {
        left: 25px;
    }
    50% {
        left: 5px;
    }
    75% {
        left: 45px;
    }
    100% {
        opacity: 0;
        bottom: 200px;
        left: 25px;
    }
}

@keyframes heart_4 {
    0% {
        opacity: 1;
        bottom: 0;
        left: 25px;
    }
    25% {
        left: 45px;
    }
    50% {
        left: 25px;
    }
    75% {
        left: 5px;
    }
    100% {
        opacity: 0;
        bottom: 200px;
        left: 25px;
    }
}